@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f1b;
  --foreground: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a12;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
